.colaborador {
    width: 40%;
    position: relative;
}

.colaborador .cabecalho {
    background-color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}

.colaborador img {
    width: 30%;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colaborador .rodape {
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.colaborador .rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
}

.deletar {
    position: absolute;
    right: -10px;
    top: -10px;
}